#//]: # (-------------------------------------------------------------------{c)
#//]: # (                                                                   {c)
#//]: # ( Copyright 2022 Dwij Bavisi <dwijbavisi@gmail.com>                 {c)
#//]: # (                                                                   {c)
#//]: # ( This file is a part of the project:                               {c)
#//]: # (             Taciturn Coder Creations License                      {c)
#//]: # (             https://github.com/TaciturnCoder/TCCL                 {c)
#//]: # (                                                                   {c)
#//]: # ( Licensed under the License:                                       {c)
#//]: # (             Taciturn Coder Creations License                      {c)
#//]: # (             TCCL version:0 patch:0 draft:1                        {c)
#//]: # (                                                                   {c)
#//]: # ( You may not use this file except in compliance with the License   {c)
#//]: # ( You may obtain a copy of the License at:                          {c)
#//]: # (             https://TaciturnCoder.github.io/TCCL/0-0-1            {c)
#//]: # (                                                                   {c)
#//]: # ( See the License for the permissions and limitations.              {c)
#//]: # (                                                                   {c)
#//]: # (-------------------------------------------------------------------{c)

# Taciturn Coder Creations License
# TCCL version:0 patch:0 draft:1

.vscode
.vs

.tmp/
*.tmp
